<section>
  <div>
    <h1>Princípios do Design System</h1>
    <p>
      Os princípios do Design System do CFC orientam as decisões de design e
      desenvolvimento, garantindo a criação de interfaces digitais consistentes,
      acessíveis e eficientes para todos os usuários.
    </p>
  </div>
  <div>
    <h2>Objetivos dos Princípios:</h2>
    <ul>
      <li>
        Guiar as decisões de design e desenvolvimento das plataformas digitais
        do CFC.
      </li>
      <li>
        Ser autênticos e específicos às necessidades do Conselho e seus
        usuários.
      </li>
      <li>Ser memoráveis e facilmente aplicáveis no dia a dia.</li>
    </ul>
  </div>
  <div>
    <h2>Experiência Única</h2>
    <p>
      As plataformas digitais do CFC devem oferecer uma experiência unificada e
      consistente, independentemente do canal de acesso (portal, sistemas,
      aplicativos). A interface deve ser intuitiva e fácil de usar,
      proporcionando uma experiência confiável e agradável para todos os
      usuários.
    </p>
  </div>
  <div>
    <h2>Eficiência e Clareza</h2>
    <p>
      Os serviços digitais do CFC devem ser simples, eficazes e apresentar
      informações de forma clara e organizada. A prioridade é solucionar as
      necessidades dos usuários de forma rápida e eficiente, com processos
      intuitivos e informações relevantes.
    </p>
  </div>
  <div>
    <h2>Acessibilidade</h2>
    <p>
      O Design System do CFC prioriza a acessibilidade, seguindo as diretrizes
      do eMAG (Modelo de Acessibilidade em Governo Eletrônico). As interfaces
      digitais do Conselho devem ser acessíveis a todos, incluindo pessoas com
      deficiência, garantindo igualdade de acesso à informação e aos serviços.
    </p>
  </div>
  <div>
    <h2>Reutilização</h2>
    <p>
      A reutilização de componentes e padrões é fundamental para garantir a
      consistência e a eficiência do Design System. Sempre que possível,
      componentes existentes devem ser utilizados. Caso seja necessário criar
      novos componentes, os padrões visuais e funcionais do sistema devem ser
      seguidos.
    </p>
  </div>
  <div>
    <h2>Colaboração</h2>
    <p>
      Os serviços digitais do CFC devem ser simples, eficazes e apresentar
      informações de forma clara e organizada. A prioridade é solucionar as
      necessidades dos usuários de forma rápida e eficiente, com processos
      intuitivos e informações relevantes.
    </p>
  </div>
  <div>
    <h1>Boas Práticas</h1>
    <ul>
      <li>
        <span>Usuário em primeiro lugar:</span> As necessidades dos usuários
        devem ser a prioridade no desenvolvimento de serviços digitais.
      </li>
      <li>
        <span>Boa fé dos usuários:</span> As interfaces devem ser projetadas
        considerando a boa fé dos usuários, sem comprometer a segurança e a
        eficiência dos serviços.
      </li>
      <li>
        <span>Compreensão e compatibilidade:</span> Os serviços digitais devem
        ser compreensíveis para usuários e máquinas, compatíveis com tecnologias
        assistivas e assistentes virtuais.
      </li>
    </ul>
  </div>

  <div class="informacao">
    <strong>Esta informação foi útil?</strong>
    <div class="icones">
      <mat-icon>thumb_up</mat-icon>
      <mat-icon>thumb_down</mat-icon>
    </div>
  </div>
</section>
