<div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="br-card" (click)="navigate('template-base')">
      <div class="card-content">
        <p class="text-up-02 text-weight-bold">Template base</p>
        <img src="assets/template_base.png" class="mb-3" />
        <p class="text-base descricao">
          O template base representa um modelo estrutural de página que define
          as regras de organização, comportamento e localização dos elementos de
          layout.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="br-card" (click)="navigate('template-erro')">
      <div class="card-content">
        <p class="text-up-02 text-weight-bold">Template Erro</p>
        <img src="assets/template_erro.png"  class="mb-3"/>
        <p class="text-base descricao">
          Template (ou página) de erro são telas que retornam ao usuário uma
          condição específica de erro na navegação em um site.
        </p>
      </div>
    </div>
  </div>
</div>
