<section class="first-section">
  <div class="col">
    <h1>Primeira vez?</h1>
    <p>
      Conheça o Design System do CFC e saiba como ele pode auxiliar na criação
      de interfaces digitais padronizadas, intuitivas e acessíveis para todos os
      usuários.
    </p>
    <ds-magic-button routerLink="/sobre">Saiba mais</ds-magic-button>
  </div>
  <div class="col">
    <h1>Entenda o Sistema</h1>
    <p>
      Nossos princípios norteadores garantem a construção de uma experiência
      digital coesa, eficiente e centrada no usuário.
    </p>
    <ds-button routerLink="/principios">Conheça nossos princípios</ds-button>
  </div>
  <img src="assets/ilustracoes/ilustra01.svg" />
</section>
