<section class="first-section">
  <div class="col">
    <h1>Primeira vez?</h1>
    <p>
      Conheça o Design System do CFC e saiba como ele pode auxiliar na criação
      de interfaces digitais padronizadas, intuitivas e acessíveis para todos os
      usuários.
    </p>
    <cfc-button
      label="Saiba mais"
      [type]="ButtonType.primary"
      (onClick)="navigate('/sobre')">
    </cfc-button>
  </div>
  <div class="col">
    <h1>Entenda o Sistema</h1>
    <p>
      Nossos princípios norteadores garantem a construção de uma experiência
      digital coesa, eficiente e centrada no usuário.
    </p>
    <cfc-button
      label="Conheça nossos princípios"
      [type]="ButtonType.secondary"
      (onClick)="navigate('/principios')">
    </cfc-button>
  </div>
  <img src="assets/ilustracoes/ilustra01.svg" />
</section>
