<div class="br-tab">
  <nav class="tab-nav">
    <ul>
      <li class="tab-item active">
        <button type="button" data-panel="panel-1-icon"><span class="name"><span class="d-flex flex-column flex-sm-row"><span class="name">Preview</span></span></span></button>
      </li>
      <li class="tab-item">
        <button type="button" data-panel="panel-2-icon"><span class="name"><span class="d-flex flex-column flex-sm-row"><span class="name">HTML</span></span></span></button>
      </li>
    </ul>
  </nav>
  <div class="tab-content">
    <div class="tab-panel active" id="panel-1-icon">
      <p>Preview</p>
    </div>
    <div class="tab-panel" id="panel-2-icon">
      <p>HTML</p>
    </div>
  </div>
</div>
