<div class="br-card p-0 m-0">
  <div class="card-content p-0">
    <mat-toolbar class="header-toolbar">
      <div class="logo">
        <img src="assets/logo.svg" alt="Logo CFC" class="logo" />
      </div>
      <div style="display: flex; flex-direction: column">
        <div class="menu">
          <button mat-icon-button aria-label="Menu">
            <mat-icon>menu</mat-icon>
          </button>
          <p class="title">
            Padrão Digital do Conselho Federal de Contabilidade
          </p>
        </div>
        <div class="header-info">
          <p class="subtitle">Design System | Versão 1.0.0</p>
        </div>
      </div>
    </mat-toolbar>
  </div>
</div>
