<section class="third-section">
  <div class="title">
    <h1>Explore</h1>
    <p>
      Acesse os recursos para download, incluindo bibliotecas do Figma e manuais
      de utilização.
    </p>
  </div>
  <div class="row explore">
    <div class="col">
      <img src="assets/ilustracoes/ilustra03.png" />
      <a>Manuais</a>
      <p>
        Acesse os manuais e aprofunde seus conhecimentos sobre a arquitetura da
        informação, acessibilidade e usabilidade do Design System do CFC.
        Construa interfaces digitais inclusivas e eficientes, que atendam às
        necessidades de todos os usuários.
      </p>
    </div>
    <div class="col">
      <img src="assets/ilustracoes/ilustra04.png" />
      <a>Templates</a>
      <p>
        Utilize nossos templates do Figma como ponto de partida para seus projetos e garanta a aplicação consistente do Design System do CFC. Agilize seu fluxo de trabalho e mantenha a padronização visual em suas interfaces.
      </p>
    </div>
  </div>
</section>
