<section class="third-section">
  <div class="title">
    <h1>Explore</h1>
    <p>
      Economize tempo e garanta consistência com os templates do Padrão Digital do CFC
    </p>
  </div>
  <div class="row explore">
    <div class="col item-expore">
      <img src="assets/ilustracoes/ilustra03.png" />
      <a  (click)="navigate('templates')">Templates</a>
      <p>
        Utilize nossos templates do Figma como ponto de partida para seus projetos e garanta a aplicação consistente do
        Design System do CFC. Agilize seu fluxo de trabalho e mantenha a padronização visual em suas interfaces.
      </p>
    </div>
  </div>
</section>
