<section class="p-6">
  <div>
    <h1>Templates</h1>
    <h6>Visão Geral</h6>
    <p>O Design System do Padrão Digital de Governo disponibiliza alguns templates, isto é, estruturas pré-definidas em HTML que podem ser reutilizadas para criar páginas web consistentes e estruturadas. Ajudam a economizar tempo e esforço, pois facilitam a manutenção e a produtividade permitindo que os desenvolvedores se preocupem apenas com as adaptações específicas e a criação do conteúdo.</p>
  </div>
  <div>
    <span class="br-divider my-4"></span>
    <app-card-template></app-card-template>
  </div>

</section>
