.footer {
  height: 132px;
  padding: 16px 0px 0px 0px;
  background: #071d41;
  display: flex;
  flex-direction: column;
  align-items: center;
}
hr {
  width: 99%;
  margin: 16px 0px 16px 0px;
}

.rodape {
  font-size: 11.7px;
  font-weight: 500;
  line-height: 16.91px;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0;
}
