<section>
  <div>
    <h1>Sobre o Design System</h1>
    <p>
      O Design System do Conselho Federal de Contabilidade (CFC) apresenta os
      padrões de interface que devem ser seguidos por designers e
      desenvolvedores para garantir uma experiência única e coesa na interação
      com os sistemas digitais do Conselho.
    </p>
  </div>
  <div>
    <h2>
      Por que unificar a experiência dos usuários que interagem com o CFC
      digitalmente?
    </h2>
    <p>
      A proposta de criar um Design System surgiu a partir da necessidade de
      oferecer uma experiência padronizada, intuitiva e acessível a todos os
      usuários que interagem com os canais digitais do CFC, como o portal
      oficial, sistemas de registro e plataformas de serviços online.
    </p>
  </div>
  <div>
    <h2>Benefícios da unificação:</h2>
    <ul>
      <li>
        <span>Eficiência e eficácia:</span> Usuários navegam com mais facilidade
        e encontram as informações que precisam de forma rápida, otimizando a
        interação com os serviços digitais do CFC.
      </li>
      <li>
        <span>Curva de aprendizado única:</span> A padronização das interfaces
        reduz o tempo de aprendizado e facilita a utilização de diferentes
        sistemas e plataformas do CFC.
      </li>
      <li>
        <span>Previsibilidade:</span> Usuários sabem o que esperar ao interagir
        com as plataformas digitais do CFC, tornando a experiência mais
        intuitiva e agradável.
      </li>
      <li>
        <span> Acessibilidade:</span>O Design System garante que as interfaces
        digitais do CFC sejam acessíveis a todos, incluindo pessoas com
        deficiência.
      </li>
    </ul>
  </div>
  <div>
    <h1>Histórico</h1>
    <p>
      O Design System do CFC representa um passo importante na modernização e
      padronização dos canais digitais do Conselho. Ele se baseia nas diretrizes
      do Padrão Digital de Governo, aproveitando as melhores práticas e
      componentes para garantir uma experiência digital consistente e eficiente.
    </p>
  </div>
  <div>
    <h1>O que é um Design System?</h1>
    <blockquote>
      <p>
        Um Design System não é um projeto, é um produto que serve produtos –
        [Natan curtis]
      </p>
    </blockquote>
    <p>
      Um Design System não é apenas um projeto, mas um produto vivo que serve de
      base para outros produtos e serviços digitais. Ele reúne componentes,
      padrões e diretrizes que facilitam a comunicação entre designers e
      desenvolvedores, garantindo a consistência e a qualidade das interfaces.
    </p>
  </div>
  <div>
    <h2>Pontos importantes:</h2>
    <ul>
      <li>
        <span>Comunicação eficiente:</span> Melhora a comunicação entre as
        equipes de design e desenvolvimento.
      </li>
      <li>
        <span>Consistência:</span> Cria uma identidade visual coesa em todas as
        plataformas digitais do CFC.
      </li>
      <li>
        <span>Eficiência:</span> Agiliza o processo de design e desenvolvimento,
        permitindo a reutilização de componentes e padrões.
      </li>
      <li>
        <span>Qualidade:</span> Eleva a qualidade das interfaces, tornando-as
        mais intuitivas, acessíveis e eficientes.
      </li>
      <li>
        <span>Escalabilidade:</span> Facilita a criação e a manutenção de novas
        interfaces digitais, garantindo a consistência e a padronização a longo
        prazo.
      </li>
    </ul>
  </div>
  <div>
    <h2>Componentes do Design System:</h2>
    <p>O Design System do CFC inclui elementos como:</p>
    <ul>
      <li>Família tipográfica</li>
      <li>Paleta de cores</li>
      <li>Padronização de botões</li>
      <li>Logotipo</li>
      <li>Componentes de interface (botões, formulários, menus, etc.)</li>
      <li>Diretrizes de acessibilidade</li>
      <li>Padrões de usabilidade</li>
    </ul>
    <img src="assets/imagens_ds.png" alt="" srcset="" />
  </div>
  <div class="gap-2">
    <h1>Evolução Contínua</h1>
    <p>
      O Design System do CFC é um documento dinâmico e em constante evolução.
      Ele será atualizado e aprimorado continuamente para atender às
      necessidades dos usuários e refletir as melhores práticas de design e
      desenvolvimento.
    </p>
    <p>
      Este é um documento vivo com diversos componentes e propriedades de um
      produto ou serviço para facilitar a comunicação com os diversos times.
    </p>
    <p>
      Isso beneficia tanto o resultado que se almeja alcançar com o software
      como a comunicação, as pessoas, os negócios e as empresas.
    </p>

    <p>
      A ideia é que esse produto seja utilizado para consulta, para se tomar
      decisões, para novas features, novas interfaces e novas propriedades dos
      produtos do governo.
    </p>
    <p>
      Você já está entendendo que o Design System é o conjunto completo de
      padrões do projeto, documentação e princípios. Utilizando o UI kit (kit de
      ferramentas de design) e o código para atingir esses padrões.
    </p>
  </div>
  <div class="informacao">
    <strong>Esta informação foi útil?</strong>
    <div class="icones">
      <mat-icon>thumb_up</mat-icon>
      <mat-icon>thumb_down</mat-icon>
    </div>
  </div>
</section>